@import './card-component.css';

/* 카드 레이아웃 */

section-top {
  display: grid;
  grid-template-rows: repeat(3, minmax(600px, 1fr));
  gap: 10px;
}

section-bottom {
  margin-top: 10px;
  display: grid;
  grid-template-rows: repeat(4, minmax(600px, 1fr));
  gap: 10px;

  @media (width >= 1024px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(600px, 1fr));
  }
}

.card.ipad-pro {
  --text-color: var(--white);
  --button-color: #0077ed;

  @media (width >= 1024px) {
    background: url('../products/../products/ipad_pro_wide.jpeg') no-repeat center center; /* 배경 이미지 설정 */
    background-size: cover;
  }
}

.card.ipad-air {
  background: url('../products/../products/ipad_air.jpeg') no-repeat center center; /* 배경 이미지 설정 */
  background-size: cover;

  @media (width >= 1024px) {
    background: url('../products/../products/ipad_air_wide.jpeg') no-repeat center center; /* 배경 이미지 설정 */
    background-size: cover;
  }
}

.card.iphone15-pro {
  --text-color: var(--white);
  --button-color: #0077ed;

  background: url('../products/../products/iphone15_pro.jpeg') no-repeat center center; /* 배경 이미지 설정 */
  background-size: cover;

  @media (width >= 1024px) {
    background: url('../products/../products/iphone15_pro_wide.jpeg') no-repeat center center; /* 배경 이미지 설정 */
    background-size: cover;
  }
}

.card.iphone15 {
  background: url('../products/../products/iphone15.jpeg') no-repeat center center; /* 배경 이미지 설정 */
  background-size: cover;
}
.card.watch {
  --text-color: var(--white);
  --button-color: #0077ed;

  background: url('../products/../products/apple_watch.jpeg') no-repeat center center; /* 배경 이미지 설정 */
  background-size: cover;
}
.card.macbook-air {
  background: url('../products/../products/macbook_air.jpeg') no-repeat center center; /* 배경 이미지 설정 */
  background-size: cover;
}
.card.airpods-pro {
  --text-color: var(--white);
  --button-color: #0077ed;

  background: url('../products/../products/airpods_pro.jpeg') no-repeat center center; /* 배경 이미지 설정 */
  background-size: cover;
}
