/* 여기에 스타일을 구현해 주세요 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #ffffff;
  padding: 100px;
  display: grid;
  grid-template: auto / repeat(4, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.profile {
  position: relative;
  width: 64px;
  height: 64px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.status {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.status.online {
  background-color: #4cfe88;
}

.status.offline {
  background-color: #dbdbdb;
}
